*{  background-image: url(./img/fondo.jpg);
    font-size: 32px;
    line-height: 50%;
}

.logo {
    padding-top: 5px;
    margin-left: 5px;
    width: 2%;
}
main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.text-area {
    border: none;
    color: #0a3871;
    margin-top: 90px;
    text-transform: lowercase;
    height: 370px;
}
::placeholder { color: #638cd8; }
   .text-area:focus {
    outline: none;
   }
.mensaje {
    background: #0a3871;
    background-image: url(./img/img\ candado\ \(4\).jpg);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    margin-left: 98px;
    margin-top: 30px;
    padding-left: 20px;
    height: 600px;
    position: fixed;
}
.mensaje:focus {
    outline: none;
}
.botones {
    display: flex;
    margin-top: 18px;
}
.btn-encriptar {
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: rgb(81, 172, 200);
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin: 10px;
}
.btn-desencriptador {
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: rgb(81, 172, 200);
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin: 10px;
}
.btn-copiar {
    border: 2px solid #0a3871;
    border-radius: 24px;
    color: rgb(81, 172, 200);
    cursor: pointer;
    height: 67px;
    margin-left: 210px;
    position: absolute;
    width: 328px;
    margin-top: 540px;
    background: transparent;
}
.informacion {
    color: rgb(49, 47, 47);
    font-size: 18px;
}

